*{
    font-family: Futura, Helvetica;
}
.background-morado {
    background-color: #4f41a3;
}

.background-negro {
    background-color: #222222;
}

.color-blanco{
    color: #ffffff;
}

.color-negro{
    color: #222222;
}

.borde-amarillo{
    border: 1px solid yellow;
}

.margen-arriba{
    margin-top: 15px;
}

.hiden{
    display: none;
}

.sombra{
    letter-spacing: 0.6px;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5), 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.darkerBgOnHoverDropdown-menu>li>a:hover{
    background-color: rgba(0,0,0,0.3);
}

.modulo {
    padding-top: 50px;
    text-align: center;
}

.modulo-icon {
    width: 75px;
    height: 75px;
    padding-top: 15px;
    margin: auto;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #f5f5f5;
}

.modulo-nombre {
    letter-spacing: 0.6px;
    margin-top: 10px;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5), 0px 1px 5px rgba(0, 0, 0, 0.5);
}






#empleadosIcon{
    background-color: #2ecc71;
 }

#clientesIcon{
    background-color: #f39c12;
}

#viajesIcon{
    background-color: #c0392b;
}

#cotizacionesIcon{
    background-color: #8e44ad;
}

#ventasIcon{
    background-color: #1abc9c;
}

#registrosIcon{
    background-color: #7f8c8d;
}

#unidadesIcon{
    background-color: #4aa3df;
}

#choferesIcon{
    background-color: #FF888B;
}

#propietariosIcon{
    background-color: #AA784D;
}

#loginDiv{
    margin-top: 13%;
}

@media screen and (max-width: 767px) {
    #mainDiv{
        margin-top: 104px;
    }
}

@media screen and (min-width: 768px) {
    #mainDiv{
        margin-top: 51px;
    }
}

